.navbar-container {
  background-color: #ffffff33;
  height: 14vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.logo-name-container {
  display: flex;
  align-items: center;
  margin-left: 50px;
}
.emoji-logo {
  height: 30px;
  width: 40px;
}
@media screen and (max-width: 768px) {
  .emoji-logo {
    height: 20px;
    width: 30px;
  }
}
.name {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: 'Roboto';
  align-self: center;
}
@media screen and (max-width: 768px) {
  .name {
    font-size: 11px;
  }
}
.score-container {
  display: flex;
  margin-right: 50px;
}
.score {
  color: #ffffff;
  font-size: 12px;
  font-weight: 500;
  font-family: 'Roboto';
  padding-left: 30px;
}
@media screen and (max-width: 768px) {
  .score {
    font-size: 8px;
  }
}
